/* 麵包屑導航 */
body {
    font-family: 'Noto Sans TC', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f9f9f9;
    border-bottom: 1px solid #f9f9f9;
}
.breadcrumbs {
    background-color: #f9f9f9;
    padding: 10px 20px;
    font-size: 14px;
    color: #333;
}

.breadcrumbs a {
    color: #00bcd4;
    text-decoration: none;
}

.breadcrumbs a:hover {
    text-decoration: underline;
}

.breadcrumbs span {
    color: #333;
}

/* translate */
#google_translate_element {
    font-size: 10px; 
}


